@using Health.API.Models
@model HealthHisModel
@{
    ViewBag.Title = "APM監控儀表板-趨勢分析";
}
@section styles {
    <link href="~/Content/fullcalendar.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
}
@section scripts {
    <script type="text/javascript">
        var lineChart = [];
        var hisTable = [];
        var healthHis2Data = [];

        $(function () {
            var startTime = moment(moment().format("YYYY-MM-DD"));
            var endTime = moment(moment().format("YYYY-MM-DD 23:59:59"));

            $("#datetimepicker1, #datetimepicker3").datetimepicker({
                format: "YYYY-MM-DD"
            });

            $("#datetimepicker2, #datetimepicker4").datetimepicker({
                format: "HH:mm"
            });
            $("#datetimepicker1").data("DateTimePicker").date(startTime);
            $("#datetimepicker2").data("DateTimePicker").date(startTime);
            $("#datetimepicker3").data("DateTimePicker").date(endTime);
            $("#datetimepicker4").data("DateTimePicker").date(endTime);

            $(":radio[name='optionsRadios']").change(optionsRadiosOnChange);
            $("#query").click(queryOnClick);
            queryOnClick();

            $("#save").click(function () {
                var threshold = $("#THRESHOLD").val();

                if ((threshold === "") || isNaN(parseFloat(threshold))) {
                    alert("請重新輸入 Threshold");
                    return false;
                }

                var model = {
                    SYSTEM_ID: $("#SYSTEM_ID").val(),
                    THRESHOLD: threshold
                };

                $.ajaxPost("@Url.Content("~/SystemInfo/UpdateThreshold")", model, function (data) {
                    alert(data);
                });
            });
        });

        function optionsRadiosOnChange() {
            var endTime = moment();
            var startTime = moment();

            switch ($(":radio[name='optionsRadios']:checked").val()) {
                case "option1": // 一年
                    startTime.subtract(1, "y");
                    break;
                case "option2": // 一個月
                    startTime.subtract(1, "M");
                    break;
                case "option3": // 一週
                    startTime.subtract(1, "w");
                    break;
                case "option4": // 一天
                    startTime.subtract(1, "d");
                    break;
                case "option5": // 一小時
                    startTime.subtract(1, "h");
                    break;
            }

            $("#datetimepicker1").data("DateTimePicker").date(startTime);
            $("#datetimepicker2").data("DateTimePicker").date(startTime);
            $("#datetimepicker3").data("DateTimePicker").date(endTime);
            $("#datetimepicker4").data("DateTimePicker").date(endTime);
        }

        function queryOnClick() {
            var datetimepicker1 = $("#datetimepicker1").data("DateTimePicker").date();
            var datetimepicker2 = $("#datetimepicker2").data("DateTimePicker").date();
            var datetimepicker3 = $("#datetimepicker3").data("DateTimePicker").date();
            var datetimepicker4 = $("#datetimepicker4").data("DateTimePicker").date();

            var startTime = getDateTime(datetimepicker1, datetimepicker2);
            var endTime = getDateTime(datetimepicker3, datetimepicker4);

            if (startTime == '') {
                startTime = moment().format("YYYY-MM-DD");
            }

            if (endTime == '') {
                endTime = moment().format("YYYY-MM-DD 23:59:59");
            }

            var filter = {
                SYSTEM_ID: $("#SYSTEM_ID").val(),
                START_TIME: startTime,
                END_TIME: endTime
            };

            refreshHealthCurrentView();
            refreshCurrentUser();
            $("#tabMessage").text("處理中…");
            $("#tabHeader li").remove();
            $("#tabContent").html("");
            lineChart = [];
            hisTable = [];
            healthHis2Data = [];
            $.ajaxPost("@Url.Content("~/HealthHis2/Search")", filter, function (data) {
                if (data && data.m_Item1 && (data.m_Item1.length > 0)) {
                    $("#tabMessage").text("");
                    refreshTabs(data);
                }
                else {
                    $("#tabMessage").text("目前沒有資料");
                }
            });
        }

        function refreshTabs(data) {
            var functions = data.m_Item1;
            var healthHis2 = data.m_Item2;

            for (var funcIndex = 0; funcIndex < functions.length; funcIndex++) {
                addTabHeader(functions[funcIndex]);
                addTabContent(functions[funcIndex]);

                var functionCode = functions[funcIndex].FUNCTION_CODE;
                healthHis2Data[functionCode] = [];
                for (var healthHis2Index = 0; healthHis2Index < healthHis2.length; healthHis2Index++) {
                    if (healthHis2[healthHis2Index].FUNCTION_CODE == functions[funcIndex].FUNCTION_CODE) {
                        healthHis2Data[functionCode].push(healthHis2[healthHis2Index]);
                    }
                }
            }
            $("#tabHeader").tab();
            $('.nav-tabs a:first').tab('show')

            for (var funcIndex = 0; funcIndex < functions.length; funcIndex++) {
                initTabContent(functions[funcIndex]);
            }

            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                var target = $(e.target).attr("href"); // activated tab
                var functionCode = target.substr(1);
                //lineChart[functionCode].redraw();
                $(window).trigger('resize');
            });
        }

        function addTabHeader(func) {
            var html = '<li><a data-toggle="tab" href="#tab' + func.FUNCTION_CODE + '"><h3>' + func.FUNCTION_NAME + '</h3></a></li>';
            $("#tabHeader").append(html);
        }

        function addTabContent(func) {
            var html = '';

            html += '<div id="tab' + func.FUNCTION_CODE + '" class="tab-pane fade">';
            html += '    <div class="row">';
            html += '        <div class="col-md-12">';
            html += '            <!-- Curve chart starts -->';
            html += '            <div class="widget">';
            html += '                <div class="widget-head">';
            html += '                    <div class="pull-left">趨勢分析圖(Ｘ軸：事件發生時間　Ｙ軸：事件處理時間)</div>';
            html += '                    <div class="widget-icons pull-right">';
            html += '                        <a href="#" class="wminimize">';
            html += '                            <i class="fa fa-chevron-up"></i>';
            html += '                        </a>';
            html += '                    </div>';
            html += '                    <div class="clearfix"></div>';
            html += '                </div>';

            html += '                <div class="widget-content">';
            html += '                    <div id="lineChart' + func.FUNCTION_CODE + '"></div>';
            html += '                </div>';
            html += '            </div>';
            html += '            <!-- Curve chart ends -->';
            html += '        </div>';
            html += '    </div>';

            html += '    <div class="row">';
            html += '        <div class="col-md-12">';
            html += '            <!-- Curve chart starts -->';
            html += '            <div class="widget">';
            html += '                <div class="widget-head">';
            html += '                    <div class="pull-left">歷史資料</div>';
            html += '                    <div class="widget-icons pull-right">';
            html += '                        <a href="#" class="wminimize">';
            html += '                            <i class="fa fa-chevron-up"></i>';
            html += '                        </a>';
            html += '                    </div>';
            html += '                    <div class="clearfix"></div>';
            html += '                </div>';

            html += '                <div class="widget-content">';
            html += '                    <div class="table-responsive">';
            html += '                        <table id="hisTable' + func.FUNCTION_CODE + '" class="table table-striped table-bordered table-hover">';
            html += '                            <thead>';
            html += '                                <tr>';
            html += '                                    <th class="text-center">狀態</th>';
            html += '                                    <th class="text-center">日期</th>';
            html += '                                    <th class="text-center">時間</th>';
            html += '                                    <th class="text-center">AP Server IP</th>';
            html += '                                    <th class="text-center">Threshold</th>';
            html += '                                    <th class="text-center">總時間(秒)</th>';
            html += '                                    <th class="text-center">系統處理時間(秒)</th>';
            html += '                                    <th class="text-center">資料庫處理時間(秒)</th>';
            html += '                                </tr>';
            html += '                            </thead>';
            html += '                            <tbody></tbody>';
            html += '                        </table>';
            html += '                    </div>';
            html += '                </div>';
            html += '            </div>';
            html += '            <!-- Curve chart ends -->';
            html += '        </div>';
            html += '    </div>';
            html += '</div>';

            $("#tabContent").append(html);
        }

        function initTabContent(func) {
            lineChart[func.FUNCTION_CODE] = Morris.Line({
                element: 'lineChart' + func.FUNCTION_CODE,
                xkey: 'CREATE_TIME',
                ykeys: ['TOTAL_TIME', 'CLIENT_TIME', 'DB_TIME'],
                labels: ['總時間', '系統處理時間', '資料庫處理時間'],
                data: healthHis2Data[func.FUNCTION_CODE],
                hideHover: 'auto',
                resize: true,
                lineColors: ['#e16500', '#1ab394', 'lightblue'],
            });

            hisTable[func.FUNCTION_CODE] = $("#hisTable" + func.FUNCTION_CODE).DataTable({
                paging: true,
                pagingType: 'simple_numbers',
                pageLength: 5,
                lengthChange: false,
                searching: false,
                info: false,
                ordering: false,
                language: {
                    emptyTable: '無資料',
                    paginate: {
                        previous: '上頁',
                        next: '下頁'
                    }
                }
            });

            refreshHisTable(func, healthHis2Data[func.FUNCTION_CODE]);
        }

        function refreshHisTable(func, data) {
            hisTable[func.FUNCTION_CODE].clear();

            if ((data != null) && (data.length > 0)) {
                //var threshold = parseFloat($("#THRESHOLD").val());
                //var thresholdNumber = isNaN(threshold) ? 5.0 : threshold;

                $.each(data, function (index, item) {
                    var html = '';
                    var createTime = moment(item.CREATE_TIME);

                    html += '<tr>' +
                        '<td class="text-center">';
                    if (item.TOTAL_TIME != null) {
                        if (item.TOTAL_TIME > item.THRESHOLD) {
                            html += '<span class="label label-danger">NG</span>';
                        }
                        else {
                            html += '<span class="label label-success">OK</span>';
                        }
                    }
                    html += '</td>' +
                        '<td class="text-center">' + (item.CREATE_TIME != null ? createTime.format("YYYY-MM-DD") : '') + '</td>' +
                        '<td class="text-center">' + (item.CREATE_TIME != null ? createTime.format("HH:mm:ss.SSS") : '') + '</td>' +
                        '<td class="text-center">' + (item.IPv4 != null ? item.IPv4 : '') + '</td>' +
                        '<td class="text-right">' + (item.THRESHOLD != null ? item.THRESHOLD : '') + '</td>' +
                        '<td class="text-right">' + (item.TOTAL_TIME != null ? item.TOTAL_TIME.toFixed(6) : '') + '</td>' +
                        '<td class="text-right">' + (item.CLIENT_TIME != null ? item.CLIENT_TIME.toFixed(6) : '') + '</td>' +
                        '<td class="text-right">' + (item.DB_TIME != null ? item.DB_TIME.toFixed(6) : '') + '</td>' +
                        '</tr>';

                    hisTable[func.FUNCTION_CODE].row.add($(html));
                });
            }

            hisTable[func.FUNCTION_CODE].draw();
        }

        function getDateTime(dtpicker1, dtpicker2) {
            var dateTime = '';

            if (dtpicker1 != null) {
                dateTime += dtpicker1.format("YYYY-MM-DD");
                if (dtpicker2 != null) {
                    dateTime += ' ' + dtpicker2.format("HH:mm");
                }
            }

            return dateTime;
        }

        function refreshCurrentUser() {
            $("#usersNumber").text("");
            $.ajaxGet("@Url.Content("~/UserToken/GetCurrentUsers")", null, function (data) {
                if (data != null) {
                    $("#usersNumber").text(data);
                }
            });
        }

        function refreshHealthCurrentView() {
            $("#alertsNumber").text("");
            $.ajaxGet("@Url.Content("~/HealthCurrent/GetCurrentView")", null, function (data) {
                if ((data != null) && (data.m_Item1.length > 0)) {
                    var item1Index = 0;
                    var item2Index = 0;
                    var alertsNumber = 0;

                    for (; item1Index < data.m_Item1.length; item1Index++) {
                        for (; item2Index < data.m_Item2.length; item2Index++) {
                            if (!data.m_Item2[item2Index].STATUS) {
                                alertsNumber += 1;
                            }
                        }
                        $("#alertsNumber").text(alertsNumber);
                    }
                }
                else {
                    $("#alertsNumber").text("0");
                }

                $('#eventsNumber').text(data.m_Item3.length);
            });
        }
    </script>
}
<div class="row">
    <div class="col-md-12">
        <!-- Curve chart starts -->
        <div class="widget">
            <div class="widget-head">
                <div class="pull-left">查詢選項</div>
                <div class="widget-icons pull-right">
                    <a href="#" class="wminimize">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="widget-content">
                <div class="padd">
                    <!-- Form starts.  -->
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">系統別</label>
                            <div class="col-lg-2">
                                <input type="text" id="SYSTEM_NAME" class="form-control" value="@Model.SYSTEM_NAME" readonly />
                                <input type="hidden" id="SYSTEM_ID" value="@Model.SYSTEM_ID" />
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label class="col-lg-2 control-label">期間別</label>
                            <div class="col-lg-3">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" value="option1">
                                        <span class="radios-select">一年</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="optionsRadios" value="option2">
                                        <span class="radios-select">一個月</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="optionsRadios" value="option3">
                                        <span class="radios-select">一週</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="optionsRadios" value="option4">
                                        <span class="radios-select">一天</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="optionsRadios" value="option5">
                                        <span class="radios-select">一小時</span>
                                    </label>
                                </div>
                            </div>
                            <label class="col-lg-1 control-label">開始時間</label>
                            <div class="col-lg-2">
                                <div id="datetimepicker1" class="input-append input-group dtpicker">
                                    <input type="text" class="form-control">
                                    <span class="input-group-addon add-on">
                                        @*<i data-time-icon="fa fa-times" data-date-icon="fa fa-calendar"></i>*@
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div id="datetimepicker2" class="input-append input-group dtpicker">
                                    <input class="form-control" type="text">
                                    <span class="input-group-addon add-on">
                                        @*<i data-time-icon="fa fa-clock-o" data-date-icon="fa fa-calendar"></i>*@
                                        <i class="glyphicon glyphicon-time"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-offset-1 col-lg-1 control-label">Threshold</label>
                            <div class="col-lg-1">
                                <input class="form-control" id="THRESHOLD" value="@Model.THRESHOLD" />
                            </div>
                            <div class="col-lg-1">
                                <button id="save" type="button" class="btn btn-sm btn-primary">儲存</button>
                            </div>
                            <label class="col-lg-offset-1 col-lg-1 control-label">結束時間</label>
                            <div class="col-lg-2">
                                <div id="datetimepicker3" class="input-append input-group dtpicker">
                                    <input type="text" class="form-control">
                                    <span class="input-group-addon add-on">
                                        @*<i data-time-icon="fa fa-times" data-date-icon="fa fa-calendar"></i>*@
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div id="datetimepicker4" class="input-append input-group dtpicker">
                                    <input class="form-control" type="text">
                                    <span class="input-group-addon add-on">
                                        @*<i data-time-icon="fa fa-clock-o" data-date-icon="fa fa-calendar"></i>*@
                                        <i class="glyphicon glyphicon-time"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <button id="query" type="button" class="btn btn-sm btn-primary">送出</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Curve chart ends -->
    </div>
</div>
<h3 id="tabMessage"></h3>
<ul id="tabHeader" class="nav nav-tabs"></ul>
<div id="tabContent" class="tab-content">

</div>
